<link rel="stylesheet" href="{{ 'product-info.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="card-group">
  <div class="card">
    {% render 'shipping-icon' %}
    <h4 class="title">Free Shipping to HK</h4>
    <p class="text">7- 14 days</p>
  </div>
  <div class="card">
    {% render 'verified-icon' %}
    <h4 class="title">Products verified</h4>
    <p class="text">from Australia</p>
  </div>
  <div class="card">
    {% render 'dollar-icon' %}
    <h4 class="title">Fast & Secure</h4>
    <p class="text">Payment</p>
  </div>
</div>