<div class="product-collage page-width"></div>

{% schema %}
  {
    "name": "Product Collage",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "collage_banner",
        "label": "Upload Collage Banner"
      }
    ]
  }
{% endschema %}