.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0.8;
  --font-size: 1.7;
}

.card-wrapper .rating-star {
  --letter-spacing: 0.7;
  --font-size: 1.4;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: "★★★★★";
  background: linear-gradient(
    90deg,
    var(--color-icon) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}

/* styles by me */
.product-vendor {
  border-left: 3px solid;
  padding-left: 10px;
  margin-bottom: 6px;
  font-size: 11px;
}

.product-name {
  font-size: 16px;
}

.card-wrapper.product-card-wrapper.underline-links-hover:hover {
  box-shadow: 0px 0px 42px 2px rgba(10, 4, 60, 0.08);
  border-radius: 20px;
  background-color: white;
}

.vendor-deep-purple {
  color: var(--color-deep-purple);
}
.vendor-deep-red {
  color: var(--color-deep-red);
}

.vendor-deep-green {
  color: var(--color-deep-green);
}

.vendor-carton-brown {
  color: var(--color-carton-brown);
}

.vendor-mild-pink {
  color: var(--color-mild-pink);
}

.add-to-cart {
  display: flex;
}
.quick-add {
  margin-top: 10px;
}
