.custom-slideshow.slideshow {
  margin-top: 20px;
  min-height: 500px;
}

.custom .slideshow__controls.slider-buttons {
  display: unset;
  align-items: center;
  justify-content: center;
}

.custom-slideshow .slideshow__slide .slideshow__media.banner__media {
  display: flex;
  justify-content: space-between;
  background-color: unset;
}

.custom-slideshow .banner__media .content_text .slideshow__text {
  position: relative;
  z-index: 1;
}

.custom-slideshow .slideshow__media.banner__media .content_text {
  width: 25%;
  max-width: 25%;
  height: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
}

.custom-slideshow .slideshow__media.banner__media .content_image {
  width: 75%;
  max-width: 75%;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  z-index: 1;
}

.custom-slideshow .content_image img {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 100%;
  width: 100%;
}

.custom-slideshow .slideshow__text.banner__box {
  background-color: #f2f5f6;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.custom-slideshow .banner__content,
.custom-slideshow .slideshow__text.banner__box {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}

.slideshow__control-wrapper {
  display: flex;
  flex-direction: row;
  border: 0.5px solid #e7e6e9;
  border-radius: 32px;
  width: 70%;
  margin-top: -140px;
  z-index: 20;
  background-color: white;
  padding: 0px 20px;
}

button.slider-counter__link {
  width: 15%;
  padding: 0px;
  margin-top: 25px;
  text-decoration: none;
}

.dot-view hr {
  margin: 0px;
  background-color: #e7e6e9;
}

.dot-view {
  margin: 0px;
  padding: 0px;
  height: 100%;
  text-align: left;
}

button.slider-counter__link h4 {
  margin: 10px 0px;
  font-weight: 600;
}

button.slider-counter__link h2 {
  margin: 15px 0px;
}

button.slider-counter__link--active .dot-view hr {
  background-color: #95bf11;
}

button.slider-counter__link--active .dot-view h4 {
  color: #95bf11;
}

button.slider-counter__link--active .dot-view h2 {
  font-weight: bold;
}
