.custom-slideshow .slideshow__slide .slideshow__media.banner__media {
  display: flex;
  justify-content: space-between;
}

.custom-slideshow .banner__media .content_text .slideshow__text {
  position: relative;
}

.custom-slideshow .slideshow__media.banner__media .content_text {
  width: 25%;
  max-width: 25%;
  height: 100%;
  max-height: 100%;
  position: relative;
}

.custom-slideshow .slideshow__media.banner__media .content_image {
  width: 75%;
  max-width: 75%;
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
}

.custom-slideshow .banner__content,
.custom-slideshow .slideshow__text.banner__box {
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 100%;
}
