@media (max-width: 768px) {
  /* slide cart */
  .cart-slider .w-25 {
    width: 90%;
    height: 100%;
  }

  .cart-slider slider-component.page-width {
    padding: 0px;
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    display: flex;
  }

  .cart-slider .recommended-slider .collection ul {
    display: grid;
    width: 100%;
    max-width: 100%;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: scroll;
  }
  .cart-slider .recommended-slider #Slider-slide-cart li {
    width: 100%;
    max-width: 90%;
    margin-right: 0px;
    margin-top: 10px;
  }

  .cart-slider .feature-products {
    padding: 20px;
  }

  /* slideshow */
  .mobile-slide-control {
    display: flex;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .mobile-slide-control .mobile-view {
    width: 70%;
    display: flex;
    padding: 0px;
  }

  .mobile-slide-control .mobile-view li {
    display: flex;
    width: 40%;
    border: 1px solid #e7e6e9;
    height: 1px;
  }

  .control-count {
    display: flex;
    font-weight: bold;
  }

  .control-count span.active {
    color: #678800;
  }

  .control-count .divider {
    margin: 0px 3px;
  }

  .custom-slideshow.slideshow {
    margin: 15px;
  }

  .header-container .secondary-header,
  .top-header nav.header__inline-menu {
    display: none;
  }

  .dot-view h4,
  .dot-view h2,
  .dot-view p {
    display: none;
  }

  .slider-counter .slideshow__control-wrapper {
    height: 10px;
    border-radius: unset;
    background-color: unset;
    border: none;
    padding: 0px;
    margin-top: -48px;
    margin-left: -80px;
    width: 60%;
  }

  .slider-counter .slideshow__control-wrapper button {
    margin-top: unset;
    height: 10px;
  }

  .dot-view hr {
    margin: 0px;
    background-color: #e7e6e9;
    height: 4px;
  }

  .custom-slideshow .slideshow__slide .slideshow__media.banner__media {
    display: flex;
    flex-direction: column;
  }

  .custom-slideshow
    .slideshow__slide.grid__item
    .slideshow__media
    .content_text {
    width: 100%;
    max-width: 100%;
    order: 2;
  }

  .custom-slideshow .banner__media .content_text .slideshow__text {
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .custom-slideshow.banner .content_image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .custom-slideshow
    .slideshow__slide.grid__item
    .slideshow__media
    .content_image {
    width: 100%;
    max-width: 100%;
    order: 1;
  }

  .info-cards.page-width {
    gap: unset;
    overflow-x: scroll;
    width: 100%;
    display: grid;
    margin: 20px 0px;
    height: 180px;
  }

  .shipping-banner.page-width img {
    width: 100%;
    height: 100%;
  }

  .collection .collection__title h2.title {
    font-size: 24px;
  }

  .slider.slider--tablet.contains-card--standard
    .slider__slide:not(.collection-list__item--no-media) {
    width: 100%;
  }

  .card__content .quick-add {
    margin-top: 0px;
  }

  .custom-slideshow.banner .slideshow__slide .slideshow__media.banner__media {
    height: 100%;
  }

  .custom-slideshow.slideshow.page-width {
    max-height: 550px;
    height: 550px;
    flex-wrap: nowrap;
  }

  /* info card */

  .card.card--standard.card--media {
    margin-right: 5px;
    padding: 10px 5px;
    background-color: unset;
  }

  .info-cards .card {
    width: 240px;
    max-width: 240px;
    margin-right: 20px;
  }

  ul.grid li {
    margin: 0px;
    display: flex;
  }

  ul.grid.product-grid.contains-card li:first-child {
    margin-right: 5px;
  }

  /* product collage */
  .product-collage.page-width {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .product-collage .collage-banner,
  .product-collage .collage-banner img {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .product-collage.page-width .products {
    width: 100%;
    max-width: 100%;
    margin: 0px;
    display: flex;
    margin-top: 20px;
  }

  .product-collage .card-wrapper .card,
  .product-collage .card-wrapper .card .card__inner,
  .product-collage .card-wrapper .card .card__inner .card__media,
  .product-collage .card-wrapper .card .card__content {
    width: 100%;
    max-width: 100%;
    display: flex;
  }

  .collection .card-wrapper {
    width: 100%;
  }

  .product-collage .color-bg-white.isolate.gradient {
    width: 100%;
  }

  .product-collage .card-wrapper .card .card__content {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

  .product-collage .quick-add__submit {
    display: flex;
    align-items: center;
    min-width: 40%;
    max-width: 80%;
    justify-content: center;
    margin: 40px auto 0px auto;
  }

  .product-collage .products ul li .card.card--standard {
    padding: 0px;
  }

  /* product tabs */

  .tabs .collection,
  .tabs .grid.product-grid {
    width: 100%;
    max-width: 100%;
  }

  .tabs .grid.product-grid .grid__item {
    height: 140px;
  }

  .tabs .grid.product-grid {
    height: 160px;
  }

  .tabs .grid .grid__item.slider__slide {
    width: 100%;
    max-width: 80%;
  }

  .tabs .grid .grid__item.slider__slide .card__media {
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 80%;
    width: 80%;
    margin-left: 10px;
    margin-top: 5px;
  }

  .tabs .grid .grid__item.slider__slide .card__media .media {
    background-color: white;
    height: 78%;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .tabs
    .card-wrapper.product-card-wrapper.underline-links-hover
    .tabs
    .grid
    .card__inner,
  .tabs .card-wrapper.product-card-wrapper.underline-links-hover,
  .tabs .card__inner {
    background-color: unset;
  }

  .tabs .quick-add.no-js-hidden button.quick-add__submit.button {
    display: none;
  }

  .tabs .card__heading a.full-unstyled-link {
    font-size: 16px;
  }

  .tabs .card-information {
    margin-top: 30px;
  }

  .shopify-section .collection-tab .title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    overflow-x: scroll;
    height: 100px;
    padding: 10px 0px;
    margin: 0px 0px 0px 20px;
    overflow: auto;
  }

  .tabs .card-information .price .price__sale span {
    font-size: 18px;
  }

  .shopify-section .collection-tab .title li {
    display: none;
  }

  .shopify-section .collection-tab .title li:first-child {
    display: flex;
    font-size: 18px;
  }

  /* footer */
  footer .footer__content-top {
    flex-direction: column;
    padding: 0px 25px;
  }

  footer .footer__content-top .column {
    width: 100%;
  }

  .footer .about-us {
    margin: 20px 0px;
  }

  .footer .footer-column-2.column {
    flex-direction: column;
    margin-top: 20px;
  }
  .footer .footer-column-2.column .footer-block.grid__item {
    margin: 0px;
  }

  .footer .footer-block__heading {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .footer .footer-block__details-content .list-menu__item--link {
    padding: 3px 0px;
  }

  .footer .footer__blocks-wrapper {
    order: 2;
  }

  .footer .footer-block__newsletter {
    text-align: left;
    width: 100%;
    order: 1;
    margin-bottom: 20px;
  }

  .footer-block--newsletter {
    width: 100%;
  }

  .footer .footer-block__details-content {
    margin-bottom: 20px;
  }

  .footer label.field__label {
    left: 0px;
  }
}
