.recommended-slider {
  margin-top: 4px;
}

.recommended-slider .add-to-cart span {
  display: none;
}

.recommended-slider #Slider-slide-cart li {
  width: 40%;
  margin: 0px;
  margin-right: 10px;
  height: unset;
}

.recommended-slider #Slider-slide-cart li .card--standard {
  padding: 0px;
}

.recommended-slider #Slider-slide-cart .card__inner {
  height: 65%;
  width: 100%;
  border-radius: 20px;
}

.recommended-slider #Slider-slide-cart .card__inner img {
  border-radius: 20px;
}

.recommended-slider #Slider-slide-cart .card-wrapper {
  height: 100%;
}

.recommended-slider #Slider-slide-cart .card {
  padding: 0;
  margin-right: 0;
}

.recommended-slider #Slider-slide-cart .card-wrapper:hover {
  border: 1px solid #e7e6e9;
}

.recommended-slider s.price-item.price-item--regular {
  display: none;
}

.recommended-slider .quick-add.no-js-hidden {
  width: 40px;
  position: absolute;
  right: 0px;
  bottom: -10px;
}

.recommended-slider #Slider-slide-cart .card__content {
  padding: 10px;
}

.recommended-slider button.quick-add__submit {
  border-radius: 10px;
  padding: 7px;
}

.recommended-slider .price.price--on-sale {
  font-weight: bold;
}
