.cart-slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.cart-slider .w-75 {
  background-color: black;
  opacity: 0.6;
  display: flex;
  width: 75%;
  height: 100vh;
  position: fixed;
  left: 0px;
}

.w-25 {
  background-color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  padding-top: 10px;
  border-left: 1px solid #e7e6e9;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  right: 0px;
  z-index: 150;
}

.w-25 h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
}

.cart {
  height: 35vh;
  overflow-y: scroll;
  border-bottom: 1px solid #e7e6e9;
}

.cart h2 {
  font-weight: bolder;
  margin: 0px;
  margin-left: 20px;
  font-size: 26px;
}

cart-items,
.cart {
  width: 100%;
}

a.cart-item {
  display: flex;
  padding: 15px 25px;
  text-decoration: none;
  border-bottom: 1px solid #e7e6e9;
}

.feature-products,
.price-overview {
  padding: 15px 25px;
}

.price-overview {
  box-shadow: 0px -4px 32px rgba(0, 0, 0, 0.1);
  height: 18vh;
}

.price-overview button {
  background: #faa916;
  border-radius: 12px;
  width: 100%;
  color: white;
  height: 40px;
  border: none;
  width: 80%;
  display: flex;
  margin: 30px auto 0px auto;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.price-overview button:hover {
  opacity: 0.7;
}

.cart-item_count {
  display: flex;
}

.cart-item_count span {
  margin-left: 2px;
  margin-top: -1px;
  background: #faa916;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 20px;
  width: 20px;
  justify-content: center;
  font-size: 12px;
  position: relative;
  z-index: 1;
}

.feature-products {
  height: 50vh;
}

a.cart-item:hover {
  background-color: #fafafa;
}

a.cart-item .content {
  margin-left: 20px;
  width: 100%;
}

.cart-item h4 {
  font-size: 18px;
}

a.cart-item img {
  border-radius: 15px;
}

.cart-slider .content .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-slider .group h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.price-overview .subtotal {
  display: flex;
  justify-content: space-between;
}

.cart-slider a.cart-item .cart-item__quantity-wrapper {
  width: 40%;
  border-radius: 12px;
  border: 1px solid #e7e6e9;
}

.cart-slider .quantity__button.minus:hover {
  background-color: red;
  color: white;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.cart-slider .quantity__button.plus:hover {
  background-color: green;
  color: white;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.cart-slider a.cart-item .cart-item__quantity-wrapper .quantity:after {
  box-shadow: none;
  min-height: 40px;
}

.cart-slider a.cart-item .cart-item__quantity-wrapper .quantity {
  min-height: 30px;
}

.trash {
  margin-top: 10px;
}
