#cartSlider.active {
  display: flex;
}

.item-price,
.subtotal {
  position: relative;
}

.group .item-price .loading-overlay {
  padding-top: unset;
}

.cart-slider {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.cart-slider .w-75 {
  background-color: black;
  opacity: 0.6;
  display: flex;
  width: 75%;
  height: 100vh;
  position: fixed;
  left: 0px;
  cursor: pointer;
}

.w-25 {
  background-color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border-left: 1px solid #e7e6e9;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  right: 0px;
  z-index: 150;
}

.w-25 h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
}

.cart {
  height: 100vh;
  overflow-y: scroll;
  border-bottom: 1px solid #e7e6e9;
}

.cart-text{
  display:flex;
}

.cart-view {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cart h2 {
  font-weight: bolder;
  margin: 0px;
  font-size: 26px;
}

.cart {
  width: 100%;
}

cart-items {
  height: 35vh;
  overflow-y: scroll;
  width: 100%;
}

a.cart-item {
  display: flex;
  padding: 15px 25px;
  text-decoration: none;
  border-bottom: 1px solid #e7e6e9;
  height: 100%;
  width: 100%;
}

.feature-products,
.price-overview {
  padding: 15px 25px;
}

.price-overview {
  box-shadow: 0px -4px 32px rgba(0, 0, 0, 0.1);
  height: 18vh;
}

.price-overview button {
  background: #faa916;
  border-radius: 12px;
  width: 100%;
  color: white;
  height: 40px;
  border: none;
  width: 80%;
  display: flex;
  margin: 30px auto 0px auto;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.recommended-slider h3.card__heading a{
  color:black;
  width:100%;
  display: flex;
  justify-content: flex-start;
}

.cart-view .js-contents a.cart-item{
  padding:10px 0px;
}

.recommended-slider #Slider-slide-cart.grid .card-information .price{
  margin-top:-5px;
}

.price-overview button:hover {
  opacity: 0.7;
}

.cart-item_count {
  display: flex;
  height: 33vh;
  flex-direction: column;
  padding: 15px 25px;
}

.cart-top-view {
  display: flex;
  justify-content: space-between;
}

.cart-top-view h2{
  margin-left:0px;
}

.js-contents a.cart-item{
  width:100%;
  height:100%;
}

.cart-item_count span {
  margin-left: 2px;
  margin-top: 2px;
  background: #faa916;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 20px;
  width: 20px;
  justify-content: center;
  font-size: 12px;
  position: relative;
  z-index: 1;
  bottom: unset;
  left: unset;
  line-height: unset;
}

.feature-products {
  height: 50vh;
}

a.cart-item:hover {
  background-color: #fafafa;
}

a.cart-item .content {
  margin-left: 20px;
  width: 100%;
}

.cart-item h4 {
  font-size: 18px;
  text-align: left;
}

a.cart-item img {
  border-radius: 15px;
}

.cart-slider .content .group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-slider .group h3 {
  font-size: 22px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.price-overview .subtotal {
  display: flex;
  justify-content: space-between;
}

.cart-slider a.cart-item .cart-item__quantity-wrapper {
  width: 30%;
  border-radius: 8px;
  border: 1px solid #e7e6e9;
}

.cart-slider .quantity__button.minus:hover {
  background-color: red;
  color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.cart-slider .quantity__button.plus:hover {
  background-color: green;
  color: white;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.cart-slider a.cart-item .cart-item__quantity-wrapper .quantity:after {
  box-shadow: none;
  min-height: 40px;
}

.cart-slider a.cart-item .cart-item__quantity-wrapper .quantity {
  min-height: 30px;
}

.trash .cartRemove {
  margin: 0px;
}

.quantity button.quantity__button {
  width: 30px;
}

.group .amount {
  font-size: 16px;
  display: flex;
}

.cart-view a {
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 8px;
  color: white;
  /* background-color: var(--color-orange); */
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.cart-top-view a{
  background-color: var(--color-orange);
}

.cart-view a:hover {
  opacity: 0.8;
}
